{% extends 'base.html' %}


{% block content %}
<div class="m-block">
    <h1 class="mt-3"> Відгуки користувачів</h1>
     <button onclick="window.location.href='{{url_for('add_comment_form')}}'" class="btn сom-btn">Написати відгук</button>
    <hr>

    <ol>
        {% for info in comments %}
        <li>
            <p><b>{{ info[1] }} ({{ info[2] }}):</b></p>
            <p>{{ info[3] }}</p>
            <p><b>Те що сподобалося:</b> {{ info[4] }}</p>
            <p><b>Те що не сподобалося:</b> {{ info[5] }}</p>
            <p><b>Оцінка:</b> {{ info[6] }} з 5</p>
        </li>
        <hr>
        {% endfor %}
    </ol>

</div>
{% endblock %}